<template>
  <q-page padding>
    <p class="text-white text-center text-h5">Вход</p>
    <q-input
      class="input"
      :input-style="{ color: '#616372' }"
      bg-color="bginput"
      rounded
      outlined
      v-model="email"
      type="email"
      placeholder="Введите e-mail"
      dense
      no-error-icon
      :error="email ? true : false"
      error-message="Введён не верный логин"
    >
      <template v-slot:prepend>
        <q-avatar class="icon-input" square>
          <img :src="icons.input.letter.gold" />
        </q-avatar>
      </template>
    </q-input>
    <q-input
      class="input"
      :input-style="{ color: '#616372'}"
      rounded
      outlined
      bg-color="bginput"
      v-model="password"
      :type="isPwd ? 'password' : 'text'"
      placeholder="Введите пароль"
      dense
      no-error-icon
      :error="password ? true : false"
      error-message="Введён не верный пароль"
    >
      <template v-slot:prepend>
        <q-avatar class="icon-input" square>
          <img :src="icons.input.keylock.gold" />
        </q-avatar>
      </template>
      <template v-slot:append>
        <q-icon
          :name="isPwd ? 'visibility_off' : 'visibility'"
          color="white"
          @click="isPwd = !isPwd"
        />
      </template>
    </q-input>
    <div class="row items-center">
      <div class="col">
        <q-checkbox class="text-white" v-model="remember" dark keep-color label="Запомнить меня" color="amber-13" />
      </div>
      <div class="col text-right">
        <a href="">Забыли пароль?</a>
      </div>
    </div>
  </q-page>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  // name: 'PageName',
  data () {
    return {
      isPwd: true,
      password: '',
      email: '',
      remember: false
    }
  },

  computed: {
    ...mapGetters(['icons'])
  }
}
</script>

<style lang="scss" scoped>
.input {
  margin-bottom: 0.5rem;
}

.icon-input {
  margin-left: 0.1rem;
  width: 1.5rem;
  height: 1.5rem;
}
/deep/
.q-field__messages {
  font-size: 1rem;
}
</style>
