// app global css in SCSS form

.btn-gold {
  background: linear-gradient(180deg, #ebc57a 0%, #e29a0c 100%);
  box-shadow: -0.558px 7.981px 12.65px rgba(26, 26, 26, 0.36);
  border-radius: 25px;

  width: 95%;
  height: 48px;

  margin-left: 16px;
  margin-right: 16px;

  font-style: normal;
  font-weight: bold;
  font-size: 16px;
}


a {
  color: white;
  text-decoration: none;
  margin-bottom: 24px;
  margin-top: 16px;
}