// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

// src/css/quasar.variables.scss

$primary   : #18191c;
$secondary : #616372;
$accent    : #9C27B0;

$dark      : #000;

$positive  : #25bb15;
$negative  : #d61220;
$info      : linear-gradient(180deg, #1b1c21 0%, #101114 100%);
$warning   : #F2C037;

/* градиентный цвет фона поля ввода */
.text-bginput {
  color: linear-gradient(180deg, #1b1c21 0%, #101114 100%);
}
.bg-bginput {
  background: linear-gradient(180deg, #1b1c21 0%, #101114 100%);
}

/* цвет подсказок в полях ввода */
.text-inputcolor {
  color: #616372;
}
.bg-inputcolor {
  background: #616372;
}

.text-goldgrd {
  color: linear-gradient(180deg, #EBC57A 0%, #E29A0C 100%);
}
.bg-goldgrd {
  background: linear-gradient(180deg, #EBC57A 0%, #E29A0C 100%);
}



.text-white {
  color: #FFFFFF;
}
.bg-white {
  background: #FFFFFF;
}

body.body--dark {
  background: #000
}
