<template>
  <q-layout view="hhh lpR fff" class="bg-primary row justify-center ">
    <q-layout view="hhh lpR fff" class="bg-primary" id="screen" ref="screen">
      <q-header class="row justify-center">
        <q-img class="logo-img" :src="images.title.azi" spinner-color="white" />
      </q-header>

      <q-page-container class=" ">
        <router-view />
      </q-page-container>

      <q-footer class="row justify-center text-white">
        <q-btn class="text-white btn-gold" label="войти" />
        <a href="">Нет аккаунта? Зарегистрироваться</a>
      </q-footer>
    </q-layout>
  </q-layout>
</template>

<script>
import { mapGetters } from 'vuex'
import { dom, frameDebounce } from 'quasar'
const { css } = dom

const MIN_HEIGHT = 640
const MAX_HEIGHT = 1080
const MIN_WIDTH = 360
const MAX_WIDTH = MAX_HEIGHT * 0.56

export default {
  data () {
    return {}
  },

  computed: {
    ...mapGetters(['images'])
  },

  mounted () {
    window.addEventListener(
      'resize',
      frameDebounce(/* this.resize */)
    )
    // this.resize()
  },

  methods: {
    resize () {
      const width = document.documentElement.clientWidth
      const height = document.documentElement.clientHeight

      // calculate scale for width & height
      var scaleX = width / (((width < MIN_WIDTH) && MIN_WIDTH) || ((width > MAX_WIDTH) && MAX_WIDTH) || width)
      var scaleY = height / (((height < MIN_HEIGHT) && MIN_HEIGHT) || ((height > MAX_HEIGHT) && MAX_HEIGHT) || height)

      // adjust scale for width and height
      scaleX = Math.min(scaleX, width / MIN_WIDTH)
      scaleY = Math.min(scaleY, height / MIN_HEIGHT)

      // select scale
      const scale = Math.abs(scaleX - 1) > Math.abs(scaleY - 1) ? scaleX : scaleY

      // calculate scaled width & height
      const elWidth = Math.min(Math.max(width / scale, MIN_WIDTH), MAX_WIDTH)
      const elHeight = Math.min(Math.max(height / scale, MIN_HEIGHT), MAX_HEIGHT)

      css(this.$refs.screen.$el, {
        width: elWidth + 'px',
        height: elHeight + 'px',
        transform: 'scale(' + scale + ')'
      })
    }
  }
}
</script>

<style lang="scss" scoped>

.logo-img {
  margin-top: 4vw;
  width: 45vh;
}

@media (max-width: 820px) {
  .logo-img {
    width: 50vh;
  }
}

@media (max-width: 420px) {
  .logo-img {
    width: 45vh;
  }
}

@media (max-width: 320px) {
  .logo-img {
    width: 35vh;
  }
}

#screen {
  width: 56vh;
  max-height: 100vh;
}

</style>
